/* <!doctype css> */

/* geral */
body {
   padding-top: 10px;
   padding-left: 0px;
   margin-bottom: 33px;
   margin-top: 0;
   margin-left: 0px;
   background-color: #111111;
   color: #ffffff; 
   width: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-image: url('../images/wp5945293-anime-4k-portrait-wallpapers.jpg');
}

h1 {
	color: #330A5B;
	font-size: 27px;
	font-style: oblique 360deg;
	margin-left: 2px;
	margin-bottom: 10px;
	padding: 10px;
}
h2 {
	text-align: center;
	font-size: 2em;
}

div#cima-banner {
   width: 100%;
   height: 10px;
   background-color: blue;
   margin-top: -10px;
/* background-image: url('../images/'); */
}

div#banner {
	margin-left: -1px;
	margin-top: -1px;
	padding-top: 1px;
	padding-right: 1px;
	border-top-left-radius: 200px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 150px;
	boder-bottom-left-radius: 13px;
    background-color: #E81090;
    width: 70%; /* 256px */
    height: 66px;
    position: relative;
}
div#banner-sub {
   margin-left: -1px; /* -15px */
   margin-top: -1px; 
   border-bottom-right-radius: 55px;
   padding: 0px;
   background-color: #800068;
   position: absolute;
   width: 100%; /* 400px*/
   height: 67px;
}
img.avatar-marcilage {
	margin-left: 47px;
	border-radius: 1024px;
	border-style: groove;
	border-color: #140521;
	background-color: #FF0069;
	width: 65px; 
	height: 65px;
}
figcaption {
  width: 175px;
  height: 30px;
  background-color: #427680;
  margin-top: -65px; /* altura */
  margin-left: 100px; /* direita(-0px←) ou esquerda(+0px→) */
  border-bottom-left-radius: 256px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 13px;
  border-top-right-radius: 256px;
}
span.nick-marcilage {
   margin-bottom: -10px;
   margin-left: 22px;
   font-size: 27px;
   font-family: OCR A Std, monospace;
   color: #10E868;
}
div#_2018 {
  display: block;
  position: relative;
  left: 25%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 440px;
  margin-top: 10px;
  border-radius: 3%;
}
/* rodapé fixed */
.footer {   
   border-top-right-radius: 47px;
   width: 32%;
   height: 32px;
   background-color: #0060D8;
   position: fixed;
   left: 0px;
   bottom: 0px;

}

p.info {
   margin: 0px;
   padding: 0px;
   display: block;
   font-size: 16px;
   color: white;
   position: absolute;
   left: 25%;
   bottom: 5px;
}

a.marcilage-site-anime-list {
   color: pink;
   text-decoration: none; 
}
img.mal {
   display: block;
   margin-top: 5px;
   margin-left: -20px;
   position: absolute;
   width: 15px;
   height: 15px;
}


/* animes */

ul {
   display: inline-block;
   list-style-type: none;
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 0px;
   margin-bottom: 0px;
   padding: 0px;
}

img.l-animes-in-fila {
   width: 16px;
   height: 16px;
}

li.animes-cards {
   width: 400px;
   height: 22%;
   background-color: #00B1FF;
   border-top-right-radius: 64px;
   border: 1px solid #001652;
   position: relative;
   
}

img.anime-cover {
	border-left-radius: 100px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #FF0069;
	width: 64px; /* 65*/
    height: 64px;
    margin-top: 7px;
    margin-left: 10px;
}
/* status-me */
img.anime-cover-drop { /* esse indica que eu dropei dele */
    border-left-radius: 100px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #FF0069;
	width: 64px; /* 65*/
    height: 64px;
    margin-top: 7px;
    margin-left: 10px;
    border-top: 2px solid #FF0026;
    border-right: 2px solid #ff0026;
}
img.anime-cover-watching { /* esse indica que eu ainda estou-o assistindo... */
    border-left-radius: 100px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #FF0069;
	width: 64px; /* 65*/
    height: 64px;
    margin-top: 7px;
    margin-left: 10px;
    border-top: 2px solid #583A92;
    border-right: 2px solid #583A92;
}
img.anime-cover-complete { /* esse indica que eu completei o anime */
    border-left-radius: 100px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #FF0069;
	width: 64px; /* 65*/
    height: 64px;
    margin-top: 7px;
    margin-left: 10px;
    border-top: 2px solid #2CC000;
    border-right: 2px solid #2CC000;
}

span.titulo-animes {
   color: #111111;
   display: block;
   font-family: monospace;
   font-size: 25px;
   margin-top: -42px; 
   margin-left: 89px;
}
span.data-l-animes {
   color: #111111;
   display: inline;
   font-size: 14px;
   margin-top: -15px; 
   margin-left: 10px;
   background-color: #585858;
   width: 45%;
}

a.about-anime {
   text-decoration: none;
   font-size: 0.9em;
   color: #00EBFF;
}