/* estilos.css*/
h1 {
	color: #63E5FF;
	text-align: center;
	font-size: 23px;
	font-family: monospace;
	border: 2 px solid black
}
}
/* style da Tabela: */
.tabela_de_cores  {
	border: 10px;
	padding: 4px;
	width: 100%;
}
    table, th, td {
    	border: 2px solid black;
}
.tab_titulo {
	border: 2px solid black;
	text-align: center;
	color: #000000;
	font-weight: bold;
}
td {
 	color: #ffffff;
 	text-align: center;
}

.nome_da_cor {
		font-family: monospace;
}

.codi_hex {
	border-radius: 2px;
	font-family: consolas;
}

button {
	width: 70px;
	display: block;
	transition-duration: 0.4s;
	
}
.dark-m:hover {
	background-color: #111111;
	color: #ffffff
}