/*Comprimentos de onda:*/
.nm380 {
 	background-color: #610061;
}
.nm381 {
  	background-color: #640066;
}
.nm382 {
  	background-color: #67006a;
}
.nm383 {
  	background-color: #6a006f;
}
.nm384 {
  	background-color: #6d0073;
}
.nm385 {
  	background-color: #6f0077;
}
.nm386 {
  	background-color: #72007c;
}
.nm387 {
  	background-color: #740080;
}
.nm388 {
  	background-color: #760084;
}
.nm389 {
  	background-color: #780088;
}
.nm390 {
  	background-color: #79008d;
}
.nm391 {
	background-color: #7b0091;
}
.nm392 {
	background-color: #7c0095;
}
.nm393 {
	background-color: #7e0099;
}
.nm394 {
	background-color: #7f009d;
}
.nm395 {
	background-color: #8000a1;
}
.nm396 {
	background-color: #8100a5;
}
.nm397 {
	background-color: #8100a9;
}
.nm398 {
	background-color: #8200ad;
}
.nm399 {
	background-color: #8200b1;
}
.nm400 {
	background-color: #8300b5;
}
.nm401 {
	background-color: #8300b9;
}
.nm402 {
	background-color: #8300bc;
}
.nm403 {
	background-color: #8300c0;
}
.nm404 {
	background-color: #8200c4;
}
.nm405 {
	background-color: #8200c8;
}
.nm406 {
	background-color: #8100cc;
}
.nm407 {
	background-color: #8100cf;
}
.nm408 {
	background-color: #8000d3;
}
.nm409 {
	background-color: #7f00d7;
}
.nm410 {
	background-color: #7e00db;
}
.nm411 {
	background-color: #7c00de;
}
.nm412 {
	background-color: #7b00e2;
}
.nm413 {
	background-color: #7900e6;
}
.nm414 {
	background-color: #7800e9;
}
.nm415 {
	background-color: #7600ed;
}
.nm416 {
	background-color: #7400f1;
}
.nm417 {
	background-color: #7100f4;
}
.nm418 {
	background-color: #6f00f8;
}
.nm419 {
	background-color: #6d00fb;
}
.nm420 {
	background-color: #6a00ff;
}
.nm421 {
	background-color: #6600ff;
}
.nm422 {
	background-color: #6100ff;
}
.nm423 {
	background-color: #5d00ff;
}
.nm424 {
	background-color: #5900ff;
}
.nm425 {
	background-color: #5400ff;
}
.nm426 {
	background-color: #5000ff;
}
.nm427 {
	background-color: #4b00ff;
}
.nm428 {
	background-color: #4600ff;
}
.nm429 {
	background-color: #4200ff;
}
.nm430 {
	background-color: #3d00ff;
}
.nm431 {
	background-color: #3800ff;
}
.nm432 {
	background-color: #3300ff;
}
.nm433 {
	background-color: #2e00ff;
}
.nm434 {
	background-color: #2800ff;
}
.nm435 {
	background-color: #2300ff;
}
.nm436 {
	background-color: #1d00ff;
}
.nm437 {
	background-color: #1700ff;
}
.nm438 {
	background-color: #1100ff;
}
.nm439 {
	background-color: #0a00ff;
}
.nm440 {
	background-color: #0000ff;
}
.nm441 {
	background-color: #000bff;
}
.nm442 {
	background-color: #000bff;
}
.nm443 {
	background-color: #001bff;
}
.nm444 {
	background-color: #0022ff;
}
.nm445 {
	background-color: #0028ff;
}
.nm446 {
	background-color: #002fff;
}
.nm447 {
	background-color: #0035ff;
}
.nm448 {
	background-color: #003bff;
}
.nm449 {
	background-color: #0041ff;
}
.nm450 {
	background-color: #0046ff;
}
.nm451 {
	background-color: #004cff;
}
.nm452 {
	background-color: #0051ff;
}
.nm453 {
	background-color: #0057ff;
}
.nm454 {
	background-color: #005cff;
}
.nm455 {
	background-color: #0061ff;
}
.nm456 {
	background-color: #0066ff;
}
.nm457 {
	background-color: #006cff;
}
.nm458 {
	background-color: #0071ff;
}
.nm459 {
	background-color: #0076ff;
}
.nm460 {
	background-color: #007bff;
}
.nm461 {
	background-color: #007fff;
}
.nm462 {
	background-color: #0084ff;
}
.nm463 {
	background-color: #0089ff;
}
.nm464 {
	background-color: #008eff;
}
.nm465 {
	background-color: #0092ff;
}
.nm466 {
	background-color: #0097ff;
}
.nm467 {
	background-color: #009cff;
}
.nm468 {
	background-color: #00a0ff;
}
.nm469 {
	background-color: #00a5ff;
}
.nm470 {
	background-color: #00a9ff;
}
.nm471 {
	background-color: #00aeff;
}
.nm472 {
	background-color: #00b2ff;
}
.nm473 {
	background-color: #00b7ff;
}
.nm474 {
	background-color: #00bbff;
}
.nm475 {
	background-color: #00c0ff;
}
.nm476 {
	background-color: #00c4ff;
}
.nm477 {
	background-color: #00c8ff;
}
.nm478 {
	background-color: #00cdff;
}
.nm479 {
	background-color: #00d1ff;
}
.nm480 {
	background-color: #00d5ff;
}
.nm481 {
	background-color: #00daff;
}
.nm482 {
	background-color: #00deff;
}
.nm483 {
	background-color: #00e2ff;
}
.nm484 {
	background-color: #00e6ff;
}
.nm485 {
	background-color: #00eaff;
}
.nm486 {
	background-color: #00efff;
}
.nm487 {
	background-color: #00f3ff;
}
.nm488 {
	background-color: #00f7ff;
}
.nm489 {
	background-color: #00fbff;
}
.nm490 {
	background-color: #00ffff;
}
.nm491 {
	background-color: #00fff5;
}
.nm492 {
	background-color: #00ffea;
}
.nm493 {
	background-color: #00ffe0;
}
.nm494 {
	background-color: #00ffd5;
}
.nm495 {
	background-color: #00ffcb;
}
.nm496 {
	background-color: #00ffc0;
}
.nm497 {
	background-color: #00ffb5;
}
.nm498 {
	background-color: #00ffa9 ;
}
.nm499 {
	background-color: #00ff9e;
}
.nm500 {
	background-color: #00ff92;
}
.nm501{
	background-color: #00ff87;
}
.nm502 {
	background-color: #00ff7b;
}
.nm503 {
	background-color: #00ff6e;
}
.nm504 {
	background-color: #00ff61;
}
.nm505 {
	background-color: #00ff54;
}
.nm506 {
	background-color: #00ff46;
}
.nm507 {
	background-color: #00ff38;
}
.nm508 {
	background-color: #00ff28;
}
.nm509 {
	background-color: #00ff17;
}
.nm510 {
	background-color: #00ff00;
}
.nm511 {
	background-color: #09ff00;
}
.nm512 {
	background-color: #0fff00;
}
.nm513 {
	background-color: #15ff00;
}
.nm514 {
	background-color: #1aff00;
}
.nm515 {
	background-color: #1fff00;
}
.nm516 {
	background-color: #24ff00;
}
.nm517 {
	background-color: #28ff00;
}
.nm518 {
	background-color: #2dff00;
}
.nm519 {
	background-color: #31ff00;
}
.nm520 {
	background-color: #36ff00;
}
.nm521 {
	background-color: #3aff00;
}
.nm522 {
	background-color: #3eff00;
}
.nm523 {
	background-color: #42ff00;
}
.nm524 {
	background-color: #46ff00;
}
.nm525 {
	background-color: #4aff00;
}
.nm526 {
	background-color: #4eff00;
}
.nm527 {
	background-color: #52ff00;
}
.nm528 {
	background-color: #56ff00;
}
.nm529 {
	background-color: #5aff00;
}
.nm530 {
	background-color: #5aff00;
}
.nm531 {
	background-color: #61ff00;
}
.nm532 {
	background-color: #65ff00;
}
.nm533 {
	background-color: #69ff00;
}
.nm534 {
	background-color: #6cff00;
}
.nm535 {
	background-color: #70ff00;
}
.nm536 {
	background-color: #73ff00;
}
.nm537 {
	background-color: #77ff00;
}
.nm538 {
	background-color: #7bff00;
}
.nm539 {
	background-color: #7eff00;
}
.nm540 {
	background-color: #81ff00;
}
.nm541 {
	background-color: #85ff00;
}
.nm542 {
	background-color: #88ff00;
}
.nm543 {
	background-color: #8cff00;
}
.nm544 {
	background-color: #8fff00;
}
.nm545 {
	background-color: #92ff00;
}
.nm546 {
	background-color: #96ff00;
}
.nm547 {
	background-color: #99ff00;
}
.nm548 {
	background-color: #9cff00;
}
.nm549 {
	background-color: #a0ff00;
}
.nm550 {
	background-color: #a3ff00;
}
.nm551 {
	background-color: #a6ff00;
}
.nm552 {
	background-color: #a9ff00;
}
.nm553 {
	background-color: #adff00;
}
.nm554 {
	background-color: #b0ff00;
}
.nm555 {
	background-color: #b3ff00;
}
.nm556 {
	background-color: #b6ff00;
}
.nm557 {
	background-color: #b9ff00;
}
.nm558 {
	background-color: #bdff00;
}
.nm559 {
	background-color: #c0ff00;
}
.nm560 {
	background-color: #c3ff00;
}
.nm561 {
	background-color: #c6ff00;
}
.nm562 {
	background-color: #c9ff00;
}
.nm563 {
	background-color: #ccff00;
}
.nm564 {
	background-color: #cfff00;
}
.nm565 {
	background-color: #d2ff00;
}
.nm566 {
	background-color: #d5ff00;
}
.nm567 {
	background-color: #d8ff00;
}
.nm568 {
	background-color: #dbff00;
}
.nm569 {
	background-color: #deff00;
}
.nm570 {
	background-color: #e1ff00;
}
.nm571 {
	background-color: #e4ff00;
}
.nm572 {
	background-color: #e7ff00;
}
.nm573 {
	background-color: #eaff00;
}
.nm574 {
	background-color: #edff00;
}
.nm575 {
	background-color: #f0ff00;
}
.nm576 {
	background-color: #f3ff00;
}
.nm577 {
	background-color: #f6ff00;
}
.nm578 {
	background-color: #f9ff00;
}
.nm579 {
	background-color: #fcff00;
}
.nm580 {
	background-color: #ffff00;
}
.nm581 {
	background-color: #fffc00;
}
.nm582 {
	background-color: #fff900;
}
.nm583 {
	background-color: #fff600;
}
.nm584 {
	background-color: #fff200;
}
.nm585 {
	background-color: #ffef00;
}
.nm586 {
	background-color: #ffec00;
}
.nm587 {
	background-color: #ffe900;
}
.nm588 {
	background-color: #ffe600;
}
.nm589 {
	background-color: #ffe200;
}
.nm590 {
	background-color: #ffdf00;
}
.nm591 {
	background-color: #ffdc00;
}
.nm592 {
	background-color: #ffd900;
}
.nm593 {
	background-color: #ffd500;
}
.nm594 {
	background-color: #ffd200;
}
.nm595 {
	background-color: #ffcf00;
}
.nm596 {
	background-color: #ffcb00;
}
.nm597 {
	background-color: #ffc800;
}
.nm598 {
	background-color: #ffc500;
}
.nm599 {
	background-color: #ffc100;
}
.nm600 {
	background-color: #ffbe00;
}
.nm601 {
	background-color: #ffbb00;
}
.nm602 {
	background-color: #ffb700;
}
.nm603 {
	background-color: #ffb400;
}
.nm604 {
	background-color: #ffb000;
}
.nm605 {
	background-color: #ffad00;
}
.nm606 {
	background-color: #ffa900;
}
.nm607 {
	background-color: #ffa600;
}
.nm608 {
	background-color: #ffa200;
}
.nm609 {
	background-color: #ff9f00;
}
.nm610 {
	background-color: #ff9b00;
}
.nm611 {
	background-color: #ff9800;
}
.nm612 {
	background-color: #ff9400;
}
.nm613 {
	background-color: #ff9100;
}
.nm614 {
	background-color: #ff8d00;
}
.nm615 {
	background-color: #ff8900;
}
.nm616 {
	background-color: #ff8600;
}
.nm617 {
	background-color: #ff8200;
}
.nm618 {
	background-color: #ff7e00;
}
.nm619 {
	background-color: #ff7b00;
}
.nm620 {
	background-color: #ff7700;
}
.nm621 {
	background-color: #ff7300;
}
.nm622 {
	background-color: #ff6f00;
}
.nm623 {
	background-color: #ff6b00;
}
.nm624 {
	background-color: #ff6700;
}
.nm625 {
	background-color: #ff6300;
}
.nm626 {
	background-color: #ff5f00;
}
.nm627 {
	background-color: #ff5b00;
}
.nm628 {
	background-color: #ff5700;
}
.nm629 {
	background-color: #ff5300;
}
.nm630 {
	background-color: #ff4f00;
}
.nm631 {
	background-color: #ff4b00;
}
.nm632 {
	background-color: #ff4600;
}
.nm633 {
	background-color: #ff4200;
}
.nm634 {
	background-color: #ff3e00;
}
.nm635 {
	background-color: #ff3900;
}
.nm636 {
	background-color: #ff3400;
}
.nm637 {
	background-color: #ff3000;
}
.nm638 {
	background-color: #ff2b00;
}
.nm639 {
	background-color: #ff2600;
}
.nm640 {
	background-color: #ff2100;
}
.nm641 {
	background-color: #ff1b00;
}
.nm642 {
	background-color: #ff1600;
}
.nm643 {
	background-color: #ff1000;
}
.nm644 {
	background-color: #ff0900;
}
/* de:645;700 (55)todo #ff0000 */
.nm645,.nm646,.nm647,.nm648,.nm649,.nm650,.nm651,.nm652,.nm653,.nm654,.nm655,.nm656,.nm657,.nm658,.nm659,.nm660,.nm661,.nm662,.nm663,.nm664,.nm665,.nm666,.nm667,.nm668,.nm669,.nm670,.nm671,.nm672,.nm673,.nm674,.nm675,.nm676,.nm677,.nm678,.nm679,.nm680,.nm681,.nm682,.nm683,.nm684,.nm685,.nm686,.nm687,.nm688,.nm689,.nm690,.nm691,.nm692,.nm693,.nm694,.nm695,.nm696,.nm697,.nm698,.nm699,.nm700 {
	background-color: #ff0000;
}
.nm701 {
	background-color: #fd0000;
}
.nm702 {
	background-color: #fb0000;
}
.nm703 {
	background-color: #fa0000;
}
.nm704 {
	background-color: #f80000;
}
.nm705 {
	background-color: #f60000;
}
.nm706 {
	background-color: #f40000;
}
.nm707 {
	background-color: #f20000;
}
.nm708 {
	background-color: #f10000;
}
.nm709 {
	background-color: #ef0000;
}
.nm710 {
	background-color: #ed0000;
}
.nm711 {
	background-color: #eb0000;
}
.nm712 {
	background-color: #e90000;
}
.nm713 {
	background-color: #e80000;
}
.nm714 {
	background-color: #e60000;
}
.nm715 {
	background-color: #e40000;
}
.nm716 {
	background-color: #e20000;
}
.nm717 {
	background-color: #e00000;
}
.nm718 {
	background-color: #de0000;
}
.nm719 {
	background-color: #dc0000;
}
.nm720 {
	background-color: #db0000;
} 
.nm721 {
	background-color: #d90000;
}
.nm722 {
	background-color: #d70000;
}
.nm723 {
	background-color: #d50000;
}
.nm724 {
	background-color: #d30000;
}
.nm725 {
	background-color: #d10000;
}
.nm726 {
	background-color: #cf0000;
}
.nm727 {
	background-color: #ce0000;
}
.nm728 {
	background-color: #cc0000;
}
.nm729 {
	background-color: #ca0000;
}
.nm730 {
	background-color: #c80000;
} 
.nm731 {
	background-color: #c60000;
}
.nm732 {
	background-color: #c40000;
}
.nm733 {
	background-color: #c20000;
}
.nm734 {
	background-color: #c00000;
}
.nm735 {
	background-color: #be0000;
}
.nm736 {
	background-color: #bc0000;
}
.nm737 {
	background-color: #ba0000;
}
.nm738 {
	background-color: #b90000;
}
.nm739 {
	background-color: #b70000;
}
.nm740 {
	background-color: #b50000;
} 
.nm741 {
	background-color: #b30000;
}
.nm742 {
	background-color: #b10000;
}
.nm743 {
	background-color: #af0000;
}
.nm744 {
	background-color: #ad0000;
}
.nm745 {
	background-color: #ab0000;
}
.nm746 {
	background-color: #a90000;
}
.nm747 {
	background-color: #a70000;
}
.nm748 {
	background-color: #a50000;
}
.nm749 {
	background-color: #a30000;
}
.nm750 {
	background-color: #a10000;
} 
.nm751 {
	background-color: #9f0000;
}
.nm752 {
	background-color: #9d0000;
}
.nm753 {
	background-color: #9b0000;
}
.nm754 {
	background-color: #990000;
}
.nm755 {
	background-color: #970000;
}
.nm756 {
	background-color: #950000;
}
.nm757 {
	background-color: #930000;
}
.nm758 {
	background-color: #910000;
}
.nm759 {
	background-color: #8f0000;
}
.nm760 {
	background-color: #8d0000;
} 
.nm761 {
	background-color: #8a0000;
}
.nm762 {
	background-color: #880000;
}
.nm763 {
	background-color: #860000;
}
.nm764 {
	background-color: #840000;
}
.nm765 {
	background-color: #820000;
}
.nm766 {
	background-color: #800000;
}
.nm767 {
	background-color: #7e0000;
}
.nm768 {
	background-color: #7c0000;
}
.nm769 {
	background-color: #7a0000;
}
.nm770 {
	background-color: #770000;
} 
.nm771 {
	background-color: #750000;
}
.nm772 {
	background-color: #730000;
}
.nm773 {
	background-color: #710000;
}
.nm774 {
	background-color: #6f0000;
}
.nm775 {
	background-color: #6d0000;
}
.nm776 {
	background-color: #6a0000;
}
.nm777 {
	background-color: #680000;
}
.nm778 {
	background-color: #660000;
}
.nm779 {
	background-color: #640000;
}
.nm780 {
	background-color: #610000;
} 