body {
	border: 2px;
	padding: 0.5em;
	width: 745px;
	background-color: #ffffff;
	color: #000000;
	p: #000000;
}
.dark-mode {
  background-color: #353535;
  color: #ffffff;
  p: #ffffff;
} 
.blue-mode {
	background-color: #084D6E;
	color: #0F00A7;
}
.purple-mode {
	background-color: #9370DB;
	color: #ff00ff;
	a:hover {
	color: blue;
}
}
/* .full-white {
	background-color: #ffffff;
	color: #ffffff;
	a: #ffffff;
	h1: #ffffff;
} */