body {
   padding-top: -3px;
   padding: 5px;
   padding-left: 0px;
   margin-top: 0px;
   margin-left: 0px;
   background-color: #111111;
   color: #FFFFFF; 
   width: 100%;
}
h1 {
	color: #330A5B;
	font-size: 27px;
	font-style: oblique 90deg;
	margin-left: 2px;
	margin-bottom: 10px;
	padding: 10px;
}
h2 {
	text-align: center;
	font-size: 1.01em;
}

div#banner {
	margin-left: -1px;
	margin-top: -1px;
	padding-top: 1px;
	padding-right: 1px;
	border-top-left-radius: 200px;
	border-top-right-radius: 7px;
	border-top-left-color: blue;
	border-bottom-right-radius: 150px;
	boder-bottom-left-radius: 13px;
    background-color: #E81090;
    width: 70%; /* 256px */
    height: 66px;
    position: relative;
}
div#banner-sub {
   margin-left: -1px; /* -15px */
   margin-top: -1px; 
   border-bottom-right-radius: 55px;
   padding: 0px;
   background-color: #800068;
   position: absolute;
   width: 100%; /* 400px*/
   height: 67px;
}
img.avatar-marcilage {
	margin-left: 47px;
	border-radius: 1024px;
	border-style: groove;
	border-color: #140521;
	width: 65px; 
	height: 65px;
}
figcaption {
  width: 150px;
  height: 30px;
  background-color: #427680;
  margin-top: -65px; /* altura */
  margin-left: 100px; /* direita(-0px←) ou esquerda(+0px→) */
  border-bottom-left-radius: 256px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 13px;
  border-top-right-radius: 256px;
}
span.nick-marcilage {
   margin-bottom: -10px;
   margin-left: 16px;
   font-size: 27px;
   color: #10E868;
}
.footer {
   border-top-right-radius: 47px;
   width: 32%;
   height: 32px;
   background-color: #0060D8;
   position: fixed;
   left: -3px;
   bottom: 1px;

}

p.info {
   font-size: 16px;
   color: white;
   position: absolute;
   left: 30%;
   bottom: -10px;
}

a.marcilage-site-anime-list {
   color: pink;
   text-decoration: none;

}

/* animes */
img.a {
	border-left-radius: 100px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #FF0069;
	width: 50px; /* 65*/
    height: 50px;
}

li.cavaleiro {
   width: 50%;
   height: 22%;
   background-color: #00B1FF;

}